.repl_history
build
tags
vendor
vendor/pods
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea

*.000

*.001

*.002

*.003

*.004

*.005

*.006
*.dat